html,body,div,h1,h2,h3,i,span,img,ul,li,ol,p,video,audio,input,label {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  color: black;
  user-select: none;
}
html,body,#app {
  height: 100%;
}
body,#app {
  height: calc(100% - 60px);
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ol,ul,li {
  list-style-type: none;
}
img {
  vertical-align: middle;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
