* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  color: black;
  user-select: none;
}
html,body,#app {
  height: 100%;
}
p {
  line-height: 30px;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ol,ul,li {
  list-style-type: none;
}
img {
  vertical-align: middle;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
